    
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*{
    font-family: 'Arimo', sans-serif;
}

header{
    background-color: #202020;
    color: #fff;
    display: flex;
    justify-content: space-between;
    height: 100px;
    
}

nav ul li{
    list-style: none;
    display: inline-block;
    padding: 20px;

}
nav a{
    color: #fff;
    text-decoration: none;
    padding: 20px;
    display: block;
    font-size: 25px;
}

nav a:hover{
   
    color: #5d5d5d;
    border-radius: 07px;
}


header img{
    width: 250px;
    height: 140px;
    margin: -5px;
}

main {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    gap: 30px;
    padding: 60px 40px;
    background-color: #f1f5f9;
}

main img{
    width: 318px;
    height: 567px;
    border-radius: 20px;
}

main h1 {
    font-size: 50px;
    color: #000000;
    margin-top: 150px;
}

main p {
    font-size: 27px;
    color: #000000;
    margin-top: 30px;
    text-align: justify;
} 

/* animação suave do texto */
#texto{
    opacity: 0;
    transform: translateY(30px);
    transition: 1s ease;
}

#texto.mostrar{
    opacity: 1;
    transform: translateY(0);
}

/* animação da foto */
.foto{
    opacity: 0;
    transform: translateY(30px);
    transition: 1s ease;
}

.foto.mostrar{
    opacity: 1;
    transform: translateY(0);
}

/* hover elegante nos links */
nav a{
    transition: 0.3s ease;
}

nav a:hover{
    transform: translateY(-2px);
}

/* suavidade na imagem */
main img{
    transition: 0.4s ease;
}

main img:hover{
    transform: scale(1.1);
    transition: 0.2s;  
}

